.msg-item {
  margin: -10px 0;
  padding-left: 8px !important;
  position: relative;
}
.msg-float {
  float: left;
  height: 100%;
}
.msg-item-l {
  margin-right: 20px;
  width: 10px;
  min-height: 44px;
  line-height: 44px;
}

.icon {
  background: url(//s3.music.126.net/mobile-new/img/index_icon_2x.png?5207a28…=) no-repeat;
  background-size: 166px 97px;
  display: inline-block;
  margin-right: 3px;
}
.am-list-extra {
  position: absolute;
  right: 10px;
  top: 0;
  transform: translateY(100%);
}
.play-icon {
  width: 22px;
  height: 22px;
  background-position: -24px 0;
}
.sg-icon {
  width: 12px;
  height: 8px;
  marginRight: 4px;
}